<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1><a href="{{site.baseurl}}/">{{site.title}}</a></h1>
      </nav>
    </header>
    <article class="main-article">
      {{ content }}
    </article>
    <footer>
      <nav>
        <div>{{site.description}}</div>
        <div>Copyright &copy; Robert L. Temple. All rights reserved.</div>
      </nav>
    </footer>
    <!-- javascript stuff goes here, yo -->
  </body>
</html>
