---
---

html, body {
  min-height: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: #333399;
}


article {
  flex: 7;
  overflow: auto;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header, footer {
  flex: 1;
  margin: 0;
  padding: 0;
}

header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


header nav a {
  color: #333399;
}
header nav a:hover {
  color: #3333FF;
  text-decoration: none;
}

footer {
  flex-direction: column;
  font-size: 0.8em;
  color: #999;
  background-color: #eee;
  height: 5em;
}

footer nav {
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
}

footer a {
  color: #999;
}
footer a:hover {
  color: black;
}

.poem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 98%;
  overflow-x: auto;
}

.poem-wide {
  align-items: inherit;
}

@media screen and (min-width: 768px) {
  .poem {
    max-width: 50vw;
  }
}

.poem-title {
  font-size: 2em;
  font-weight: 700;
  margin: 0 10px 5px;
  text-align: center;
  flex: 1;
}

.poem-body {
  flex: 2;
  max-width: 98%;
  margin: 0 2em;
  overflow-x: auto;
}
.poem-body p {
  white-space: pre;
}

.poem-body p a:hover {
  color: #333399;
}

.poem-footer {
  flex: 1;
  margin-top: 2em;
  font-size: 0.9em;
  padding: 0 2em;
  text-align: center;
  color: #999;
  font-style: italic;
}

.poem-index {
  max-width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-contents: flex-start;
  align-items: center;
  text-align: center;
}

.container {
  padding: 10px;
  width: 100%;
}
